
body {
  background-color: #FFF8EC;
}
header {
  background-color: #FFFFFF;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.home-icon-container {
  height: 76px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.localsumer-logo  {
  height: 50;
  width: 131;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
  padding: 0px 40px 0px 40px;
  align-items: center;
  
}
.links {
  display: flex;
  padding: 5px 30px 5px 30px;
  white-space: nowrap;
  text-decoration: none;
  color: #636569;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-style: regular;
}
.register{
  border: solid #24272A;
  border-width: 1px;
  border-radius: 4px;
}
a.links:hover{
  color: #EFE0E0;
}

h1 {
  color: #24272A;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}

.prompt-question{
  display: flex;
  justify-content: center;
}

input {
  background-color: #FFFFFF;
  border: none;
  color: #636569;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 10px 10px 10px 10px;
  margin: 10px 40px 10px 40px;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button#address{
  background-color: #24272A;
  color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  border: none;
  margin: 20px;
  padding: 20px;


}
.input-address{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: seagreen;
  margin: 10px 80px 10px 80px;
  padding: 10px 40px 10px 40px;

}

footer{
  background-color: royalblue;
  
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-footer{
  height: 152px;
}